/* CSS HEX */
:root {

--lightestblue: #d1d1ff;
--purple: #710079;
--blue: #0000af;
--lightblue: #5252ff;
--gold: #BE9F57;
--navy: #06062A;

}

.btn-link {
    color: var(--lightestblue)
}

header {
    margin-bottom: 0;
}

main {
    background: linear-gradient(#06062A, #710079);
    color: #d1d1ff;
    margin-top: 0;
}

pre {
    color: #06062A;
    font-size: 1.5rem;
}