/* CSS HEX */
:root {

--lightestblue: #d1d1ff;
--purple: #710079;
--blue: #0000af;
--lightblue: #5252ff;
--gold: #BE9F57;
--navy: #00006d;

}

.btn-link {
    color: var(--blue)
}

header {
    margin-bottom: 0;
}

main {
    background-color: white;
    color: #000098;
    margin-top: 0;
}

pre {
    color: #00006d;
    font-size: 1rem;
    font-family: sans-serif;
    white-space: pre-wrap;
}

.list-group-item {
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

audio {
    width: 100%;
}

.genre-label {
  display: inline-block;
  width: 30px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-right: 10px;
  border-radius: 4px;
  font-size: 0.9rem;
  user-select: none;
}

.genre-label.X { background-color: var(--gold); }
.genre-label.G { background-color: var(--purple); }
.genre-label.Co { background-color: var(--blue); }
