/* CSS HEX */
:root {

--lightestblue: #d1d1ff;
--purple: #710079;
--blue: #0000af;
--lightblue: #5252ff;
--gold: #BE9F57;
--navy: #00006d;

}

.btn-link {
    color: var(--blue)
}

header {
    margin-bottom: 0;
}

main {
    background-color: white;
    color: #000098;
    margin-top: 0;
}

pre {
    color: #00006d;
    font-size: 1.2rem;
    font-family: sans-serif;
}